@using E_Learning.Pages.LogIn
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E_Learning</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/E_Learning.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
    <script src="https://cdn.tiny.cloud/1/rvbds9s9lfa5vkbksngz3nptkecpxah5mmneawlgi6u2api6/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea#tiny',
                    plugins: [
                'a11ychecker', 'advlist', 'advcode', 'advtable', 'autolink', 'checklist', 'export',
                'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks',
                'powerpaste', 'fullscreen', 'formatpainter', 'insertdatetime', 'media', 'table', 'help', 'wordcount'
            ],
            toolbar: 'undo redo | a11ycheck casechange blocks | bold italic backcolor | alignleft aligncenter alignright alignjustify |' +
                'bullist numlist checklist outdent indent | removeformat | code table help'
        })
    </script>
</head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-page="/Index"><img src="~/Images/Zealand_logo.png" width="90" height="35" alt="Logo"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse justify-content-between">
                        <div class="mynav_navbar">
                        <div class="mynav_dropdown">
                            <button class="mynav_dropbtn">
                                    Uddannelser
                                <i class="fa fa-caret-down"></i>
                                </button>
                                <div class="mynav_dropdown-content">
                                <div class="mynav_header">
                                        <h2>Uddannelser</h2>
                                    </div>
                                <div class="mynav_row">
                                    <div class="mynav_column">
                                    </div>
                                    <div class="mynav_column">
                                        <h3>Category 1</h3>
                                        <a href="#">Link 1</a>
                                        <a href="#">Link 2</a>
                                        <a href="#">Link 3</a>
                                    </div>
                                    <div class="mynav_column">
                                        <h3>Category 2</h3>
                                        <a href="#">Link 1</a>
                                        <a href="#">Link 2</a>
                                        <a href="#">Link 3</a>
                                    </div>
                                    <div class="mynav_column">
                                        <h3>Category 3</h3>
                                        <a href="#">Link 1</a>
                                        <a href="#">Link 2</a>
                                        <a href="#">Link 3</a>
                                    </div>
                                    <div class="mynav_column">
                                        <h3>Category 3</h3>
                                        <a href="#">Link 1</a>
                                        <a href="#">Link 2</a>
                                        <a href="#">Link 3</a>
                                    </div>
                                    <div class="mynav_column">
                                    </div>
                                </div>

                                </div>
                            </div>
                        </div>
                    <ul class="navbar-nav">
                    @if (AdminLogInModel.LoggedInAdmin != null)
                    {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Admin/All"><button class="btn btn-basic" style="background-color:#fff387">Underviser</button></a>
                        </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Courses/All"><button class="btn btn-basic" style="background-color:#fff387">Kurser</button></a>
                        </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Educations/All"><button class="btn btn-basic" style="background-color:#fff387">Uddannelser</button></a>
                            </li>
                    }
                        <li class="nav-item">
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Exercises/All"><button class="btn btn-basic" style="background-color:#fff387">Opgaver</button></a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        @{
                            if (LogInPageModel.LoggedInUser == null && InstructorLogInModel.LoggedInInstructor == null && AdminLogInModel.LoggedInAdmin == null) // No one logged in -> show "Log ind"
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/Register/RegisterPage"><button class="btn btn-basic" style="background-color:#fff387">Opret Bruger</button></a>
                                </li>
                                <li class="nav-link">
                                    <a class="btn btn-basic" style="background-color:#fff387" asp-area="" asp-page="/LogIn/LogInPage">Log ind</a>
                                </li>
                            }
                            else // Someone logged in -> show user name and "Log out"
                            {
                                    <li class="nav-item nav-link text-dark me-3">
                                    @{
                                        if (LogInPageModel.LoggedInUser != null)
                                        {
                                            <form action="/Profile/ProfilePage">
                                                <button class="btn btn-basic" style="background-color:#fff387">
                                                    <span>Bruger:</span>
                                                    <span><b>@LogInPageModel.LoggedInUser.Name</b></span>
                                                </button>
                                            </form>

                                        }
                                        else if (InstructorLogInModel.LoggedInInstructor != null)
                                        {
                                            <span>Underviser:</span> <span><b>@InstructorLogInModel.LoggedInInstructor.Name</b></span>
                                        }
                                        else if (AdminLogInModel.LoggedInAdmin != null)
                                        {
                                            <span>Admin:</span> <span><b>@AdminLogInModel.LoggedInAdmin.Name</b></span>
                                        }
                                    }
                                    </li>
                                    <li class="nav-link">
                                        <a class="btn btn-basic" style="background-color:#fff387" asp-area="" asp-page="/LogIn/LogOutPage">Log ud</a>
                                    </li>

                            }
                        }

                    </div>
                </div>
            </nav>
        </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Zealand E-Learning</a>

        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-pzjw8f+ua7Kw1TIq0v8FqFjcJ6pajs/rfdfs3SO+kD4Ck5BdPtF+to8xM6B5z6W5" crossorigin="anonymous"></script>

</body>
</html>

   