@page
@model ViewModel
@{
}

<h2 class="display-6 mb-3 text-center">Se Underviser</h2>

<form method="get">
	<div class="form-group mb-3" hidden>
		<label asp-for="@Model.Data.Id" class="control-label"></label>
		<input asp-for="@Model.Data.Id" class="form-control" readonly="@(true)" />
	</div>
	<div class="form-group mb-3">
		<label asp-for="@Model.Data.Name" class="control-label"></label>
		<input asp-for="@Model.Data.Name" class="form-control" readonly="@(true)" />
	</div>
	<div class="form-group mb-3">
		<label asp-for="@Model.Data.Email" class="control-label"></label>
		<input asp-for="@Model.Data.Email" class="form-control" readonly="@(true)" />
	</div>

	<div class="form-group mb-3">
		<label asp-for="@Model.Data.PhoneNumber" class="control-label"></label>
		<input asp-for="@Model.Data.PhoneNumber" class="form-control" readonly="@(true)" />
	</div>
	<p>
		<a class="btn btn-outline-basic mt-3" style="background-color:#fff387" asp-page="All">Tilbage til listen</a>
	</p>
</form>
