@page
@model E_Learning.Pages.ExerciseStatuses.AllModel
@inject ELearningDBContext _context

<h1 class="display-3 mb-5">Progression</h1>

<div class="container">
    <div class="row">
        @foreach (var course in Model.FavoriteCourses)
        {
            var exercisesDone = _context.ExerciseStatuses
            .Where(s => s.Exercise.CourseId == course.Id && s.Status == 1)
            .GroupBy(s => s.ExerciseId)
            .Count();
            <div class="col-md-4">
                <h3>@course.Name</h3>
                <p>Total øvelser: @course.Exercises.Count</p>
                <p>Øvelser udført: @exercisesDone</p>
            </div>
        }
    </div>
</div>

        
<div class="d-flex justify-content-between">
    <div style="width:100%;">
        <div style="width:100%; overflow-x: auto;">
            <table class="table" style="table-layout: fixed; width: 100%;">
                <thead>
                    <tr>
                        <th scope="col" style="width: 20%">Navn</th>
                        <th scope="col" style="width: 20%">Beskrivelse</th>
                        <th scope="col" style="width: 40%">Formål</th>
                        <th scope="col" style="width: 10%">Download</th>
                        <th scope="col" style="width: 10%">Færdig</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var exercise in Model.ExercisesDone)
                    {
                        <tr>
                            <td style="word-wrap: break-word;">@exercise.Name</td>
                            <td style="word-wrap: break-word;">@exercise.Description</td>
                            <td style="word-wrap: break-word;">@exercise.Purpose</td>
                            <td>
                                @if (!string.IsNullOrEmpty(exercise.FileName))
                                {
                                    <a asp-page-handler="DownloadFile" asp-route-id="@exercise.Id" class="btn btn-outline-info btn-sm" style="background-color:#fff387" title="Download"><i class="fa fa-download"></i></a>
                                }
                            </td>
                            <td>
                                <form method="post" asp-page-handler="AddToUnDoDone" asp-route-exerciseId="@exercise.Id">
                                    <button class="btn btn-outline-info btn-sm" type="submit" style="background-color:#fff387" title="UnDo done">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
